#wrapper {
	width: 30%;
	background-color: lightcoral;
	margin: 0 auto;
	padding: 10px 15px;
}

input[class="valid"]:invalid {
	background-color: tomato;
}

input[class="valid"]:valid {
	background-color: lightgreen;
}